body { 
font-family: Georgia, serif;
font-size: .9em;
background-color: white;
color: black;
 }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    width: 90%;
  }
}

.project {
	margin: 1em 0;
}

.image {
	 padding-top: 2em;
}


.image img {
	width: 60vw;
	margin:  0 auto;
	display:  block;
	margin-bottom: 1em; 
	max-width:  100%;
	height:  auto;
}

.image iframe {
	width: 60vw;
	margin:  0 auto;
	display:  block;
	margin-bottom: 1em; 
}

.about-text {
	font-family: arial;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: .5px;
	background-color: black;
	color: white;
}

span {
	font-style: italic;
}

p {
	font-family: Georgia, serif;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	background-color: white;
	color: black;
	line-height: 110%;
	margin: 0px;
}


.indent{
	margin-left: 48px;
}

hr {
border:  0;
height:  1px;
background: white;
}

/* LINKS */
a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: greenyellow;
}

a:active {
    color: greenyellow;
}

.more {
	display: block;
}

.less {
	display: none;
} 

button {
	margin-bottom: 15px;
	margin-left: -5px;
    background-color: green;
    color: white;
} 

.button:hover {
	background-color: greenyellow;
    color: white;
} 
