html,body {
	font-family: 'Arial', sans-serif;
	/* font-size: 1.5em;*/
    margin: 2% 2%;
    background-color: white;
    color: black;
	font-size: 1rem;
	line-height: 1.25;
}

/* LINKS */
a {
    color: black;
    text-decoration: none;
	z-index: 10;
}

a:link {
    color: #2a6592;
}

a:visited {
    color: #8ec3eb;
}

a:hover {
    color: white;
    background-color: #2a6592;
}

.foot {
	font-size: 12px;
}

a:active {
    color: #2a6592;
}

a.highlight {
	color: #db9833;
	background-color: white;
}

a.highlight:hover {
    color: white;
    background-color: #db9833;
}

a.highlight:visited {
    color: #f6d8ac;
	background-color: white;
}

a.extra {
	background-color: #00ff00 !important; 
	color: black !important;
}

.extraextra {
	color: fuchsia !important;
}

.more {
	display: block;
}

.less {
	display: none;
} 

.button {
	margin-bottom: 15px;
	margin-left: -5px;
    border: none;
    color: white;
    background-color: green;

} 

.button:hover {
	background-color: greenyellow;
} 

@media (prefers-color-scheme: dark) {

}
