html,body {
	font-family: Arial, sans-serif;
	font-size: .9em;
    margin: 1em 0;
    background-color: white;
    color: black;
}

/* LINKS */
a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: greenyellow;
}

.foot {
	font-size: 12px;
}

a:active {
    color: greenyellow;
}

a.highlight {
	background-color: blue;
	color: white;
}

a.extra {
	background-color: #00ff00 !important; 
	color: black !important;
}

.extraextra {
	color: fuchsia !important;
}

.more {
	display: block;
}

.less {
	display: none;
} 

button {
	margin-bottom: 15px;
	margin-left: -5px;
} 

.button:hover {
	background-color: white;
} 
